<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gpj.springcloud.server.mapper.ServerMapper">

    <select id="getUserByLoginId" parameterType="string" resultType="map">
        SELECT * FROM t_promotion where c_id = #{value}
    </select>

    <select id="getUsers" parameterType="string" resultType="map">
        SELECT * FROM t_promotion
    </select>
</mapper>